<nav class="menu">
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/facciones">Facciones</a></li>
    <li><a href="/guerras">Guerras</a></li>
    <li><a href="/personajes">Personajes</a></li>
  </ul>
</nav>