---
layout: layout-page.njk
title: Inicio
description: Meta descripción de la página de inicio
---
<style type="text/css">
  body{color: white} 
</style> 
<h1>{{ title }}</h1>
<p>
  En este proyecto final vamos a estar revisando como usar 11ty y desplegarlo en un sitio fijo de Git Hub Pages
</p>
<div>
  <img src="/img/Portada.png" alt="Eleventy">
</div>